/*  /WebContent/css/blackbar.css   */
.container {
	position: relative;
	width: 100%;
}

.span4 {
	background: #252525;
	position: relative;
	margin: 0;
	padding: 0;
	color: #fefefe;
	height: 90px;
	
}

/*
.inner-heading {
	color: #fff;
	margin: 30% 0 0 0;
}
*/

.titletext {
	font-size: medium;
	font: gray;
	display: inline-block;
	vertical-align: bottom;
	margin-top: 50px;
	margin-left: 5%;
}

/*.content{margin:30px 60px;}*/
